name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.4"
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version: "{{ cookiecutter.python_version }}"

      - uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just ci-install

      - name: Run linting
        run: just check

      - name: Run tests
        run: just test
